<div class="cyber-header__inner">
    <div class="cyber-logo">
        <a href="{{ .Site.BaseURL }}" class="cyber-logo__link">
            <span class="cyber-logo__text">{{ .Site.Params.logo.logoText }}</span>
            <span class="cyber-logo__cursor"></span>
        </a>
    </div>

    <nav class="cyber-nav">
        <input type="checkbox" id="cyber-nav-toggle" class="cyber-nav__toggle">
        <label for="cyber-nav-toggle" class="cyber-nav__toggle-label">
            <span class="cyber-nav__icon"></span>
        </label>

        <div class="cyber-nav__menu-container">
            <ul class="cyber-nav__menu">
                {{ range $index, $element := .Site.Menus.main }}
                <li class="cyber-nav__item" style="--item-index: {{ $index }}">
                    <a href="{{ .URL }}" class="cyber-nav__link">
                        <span class="cyber-nav__text">{{ .Name }}</span>
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </nav>
</div>