<header class="analog-header">
  <div class="analog-header__inner">
    <div class="analog-logo">
      <a href="{{ .Site.BaseURL }}" class="analog-logo__link">
        <div class="analog-logo__mark"></div>
        <span class="analog-logo__text">{{ .Site.Title }}</span>
        </a>
    </div>

    <input type="checkbox" id="analog-nav-toggle" class="analog-nav__checkbox" hidden>
    <label for="analog-nav-toggle" class="analog-nav__toggle">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <nav class="analog-nav">
      <ul class="analog-nav__menu">
        {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}" class="analog-nav__link">{{ .Name }}</a>
        </li>
        {{ end }}
        </ul>
    </nav>
  </div>
</header>
